<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Practicing Vue.js</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.jsdelivr.net/npm/vue@3.5.12/dist/vue.global.min.js"></script>
		<!-- <script src = "https://unpkg.com/vue@next"></script> -->
		<!--Used when not having Vue Files dloaded-->
	</head>
	<body>
		<h1 id="title">Build an Input Field in Vue.js</h1>

		<div id="container-1">
			<div id="form">
				<label for="full-name">Full Name: </label>
				<!-- Using 'v-model' anything that is inputed will be saved into the "value" (i.e. key-value) on attached
				     item in "script.js" -->
				<input
					id="full-name"
					v-model="inputText"
					placeholder="i.e. John Smith"
				/>
				<p id="fnInpTxt">{{inputText}}</p>

				<!-- Entering ? or Comment -->
				<p>Enter your Question/Comment</p>
				<!-- 'pre-line' will make any "enter" on its on line on the Webpage -->
				<p style="white-space: pre-line">{{ textAreaContent }}</p>
				<textarea
					v-model="textAreaContent"
					placeholder="I have a question..."
				></textarea>
			</div>
		</div>

		<!-- Package used to enable 'LODASH'-->
		<script src="https://unpkg.com/lodash@4.17.20/lodash.min.js"></script>
		<!-- JavaScript File -->
		<script src="script.js"></script>
	</body>
</html>
